/* General Styles */
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	align-items: center;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

h1,
h2{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #ffffff;
	text-align: center;
}
h1
{
	text-shadow: 3px 2px 1px #2db34cb2;
}
h3
{
	text-align: center;
	color: rgb(100, 15, 152);
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
	color:black;
	text-shadow: 1px 1px 1px #0000004b;
}
li,
section {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
nav {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: lightcyan;
}
a {
	text-decoration: none;
	color: rgb(201, 60, 248);
	margin: 10px;
	padding: 10px;
	font-size: large;
	border-radius: 5px;
}
a:hover {
	color: rgb(3, 3, 3);
	padding: 10px;
	background-color:  rgb(201, 60, 248);}
a:link {
	color: blue;
	padding: 10px;
  }
  
  a:visited {
	color: rgb(40, 35, 40);
	padding: 10px;
  }
  
  a:focus {
	outline: 2px solid red;
	background-color: lightgray;
	border: 1px solid gray;
	padding: 10px;
  }
  
  a:active {
	color: green;
	background-color: orange;
	padding: 10px;
  }
  
footer {
	text-align: center;
}
footer p
{
	color: #ffffff;
}
img {
	width: 250px;
	box-shadow: 6px 6px 5px 1px rgb(55, 55, 55);
	transition: transform 0.2s;
}
img:hover
{
	/* css that i have learned */
	transform: scale(1.1);
}
video{
	display: block;
	margin: auto;
}
.wall1 img
{
	float: left;
	margin-right: 12px;
}
.wall{
	/* display:flex; */
	flex-wrap: wrap;
	width: 60%;
	justify-content:space-between ;
	margin: 0 auto;
	background-color: rgba(197, 247, 255, 0.552);
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	box-shadow: 8px 6px 5px 1px rgba(78, 78, 78, 0.122);
	border: 5px solid orange;
	/* css that i have learned */
	border-image: linear-gradient(#ffffff, #0c389f) 30;
	
}
.wall1{
	display: flex;
	flex-wrap: nowrap;
	width: 50%;
	margin: 0 auto;
	background-color: rgba(197, 247, 255, 0.612);
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
	padding-right: 20px;
	box-shadow: 8px 6px 5px 1px rgba(78, 78, 78, 0.122);
	border-radius:10px;
	border: 5px solid orange;
	/* css that i have learned */
	border-image: linear-gradient(#ffffff, #0c389f) 30;
}
.wall h2
{
	margin: 0 auto;
	color: rgb(61, 20, 115);
	background-color: rgba(159, 37, 37, 0.21);
	padding: 10px;
	box-shadow: 8px 6px 5px 1px rgba(0, 0, 0, 0.279);

}
  /* Applied flexbox to main divisions */
.flexbox{
	display: flex;
	flex-wrap: wrap;
    gap:20px;
    justify-content: center;  
}
/* in first row (70%) area bio will be there*/
bio{
	flex-basis: 70%;
    
}
/* in first row (30%) area aside will be there*/
aside{
	flex-basis: 30%;
}
/* second row */
.content {
  display:flex; 
 flex-wrap: wrap;
	width: 60%;
	justify-content:space-between ;
	margin: 0 auto;
	background-color: rgba(197, 247, 255, 0.552);
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
	box-shadow: 8px 6px 5px 1px rgba(78, 78, 78, 0.122);
	border: 5px solid orange;
	/* css that i have learned */
	border-image: linear-gradient(#ffffff, #0c389f) 30;
  }

  img.content{margin: 0 auto;}


/* Tablet Layout */
@media ((min-width: 768px) and (max-width: 1024px)) {
    .content{
        width: 80%;
    }   
    .video{width:600px;}
    li{
		margin-top: 10px;
		margin-bottom: 10px;
	}
    
  }
  
  /* Mobile Layout */
  @media (max-width: 767px) {

	/* chaning flex direction to single column for mobile and stretching all div to 100% */
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    .flexbox {
        justify-content: center;
    }
    .wall {
        flex-basis: 100%;
    }
    .wall1 {
        flex-basis: 100%;
    }
    aside {
        flex-basis: 100%;
    }
    .video{width:300px;}
	li{
		margin-top: 10px;
		margin-bottom: 10px;
	}
    
    
  }






